<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="精品酒店,桂林阳朔,中国生态酒店,旧村落改造">
    <meta name="description" content="喜岳云庐位于桂林阳朔漓江边，20元人名币背景图画里。是中国老村落改造的典范，并获无数国际大奖。">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/libs/animate.min.css">
    <link rel="stylesheet" media="screen and (min-width: 769px)" href="/static/css/index.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="/static/css/m/index.css">
</head>
<body>
<div id="page"></div>

<script src="/static/libs/polyfill.min.js"></script>
<script src="/static/libs/vue.js"></script>
<script src="/static/libs/vue-i18n.min.js"></script>
<script src="/static/libs/scrollreveal.min.js"></script>
<script src="/static/index.js"></script>
</body>
</html>