@import "main.styl"

.content-bar-title
  margin-left -600px

.text-li
  left 0
  top 186%
  opacity .7
.text-pu
  right 0
  top 490%
  opacity .7
.content-wrapper
  margin-bottom -140px !important
  @media screen and (max-width: 1200px) and (min-width: 768px)
    margin-top -600px !important
    margin-bottom -600px !important
.content-interval
  margin 0 auto
  padding 100px 0
  width 772px
  opacity .7
  img
    position relative
  &-img
    &-line
      top -36px

.content-article-title
  font-family SourceHanSansCN-Bold
.content-article-txt
  font-size 22px
.content-article-title-en
  letter-spacing 0
.content-article-p-en
  letter-spacing 0
  line-height 32px
  font-size 20px