<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>{{ appname }}</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div id="page"></div>

<script src="/static/libs/polyfill.min.js"></script>
<script src="/static/libs/vue.js"></script>
<script src="/static/libs/scrollreveal.min.js"></script>
<script src="/static/index.js"></script>
</body>
</html>